@use "../abstracts/" as a;

article.article-details {
  position: relative;
  max-width: 1300px;

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  margin: 0 auto;

  @media screen and (min-width: a.$bp-md) {
    padding: 1rem;
  }

  h1 {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: bold;

    @media screen and (min-width: a.$bp-md) {
      font-size: 3rem;
    }
  }

  .article-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.25rem;
    padding: 0.25rem 0;

    @media screen and (min-width: a.$bp-sm) {
      flex-direction: row;
      gap: 0;
    }

    > p {
      color: a.$dark-100;

      > span {
        color: a.$dark-300;
        font-weight: bold;
      }
    }
  }

  .media-container {
    position: relative;
    margin: 0 auto;
    aspect-ratio: 16 / 9;
    width: 100%;

    img {
      object-fit: cover;
      object-position: center;
    }

    iframe {
      width: 100%;
      height: 100%;
    }
  }

  .article-body-container {
    padding: 1rem 0;
    line-height: 1.4rem;

    ul {
      display: flex;
      flex-direction: column;

      padding: 0.25rem 0;
      gap: 0.5rem;

      > li:has(p:empty) {
        display: none;
      }
    }

    h1,
    h2,
    h3,
    h4 {
      margin-top: 1rem;
      font-size: 1.5rem;
      line-height: 1.8rem;
    }
  }
}
