.signup-page,
.login-page {
  display: flex;
  flex-direction: column;
  flex: 1;

  padding: 1rem;

  justify-content: center;
  align-items: center;

  background-image: url("../../public/endless-constellation.svg");
  background-repeat: repeat;
}
