@use "../abstracts/" as a;

header {
  position: static;
  top: 0;
  height: a.$header_height;
  width: 100%;

  border-bottom: 1px solid a.$orange-700;

  .header-content {
    position: relative;
    padding: 0 1rem;
    margin: 0 auto;

    height: 100%;
    max-width: 1300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;

    .logo-wrapper {
      grid-column: 2 /4;
      grid-row: 1 / 2;

      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      @media screen and (min-width: a.$bp-md) {
        grid-column: 1 / 2;
        justify-content: flex-start;
      }
    }

    > .header-navigation {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      width: 100%;

      @media screen and (min-width: a.$bp-md) {
        grid-column: 2 / 4;
      }

      .mobile-menu-wrapper {
        display: flex;

        @media screen and (min-width: a.$bp-md) {
          display: none;
        }

        > svg {
          cursor: pointer;
        }

        .mobile-nav-list {
          position: absolute;
          left: 0;
          top: a.$header_height;
          width: 100%;

          max-height: 0;
          overflow: hidden;
          transition: all 150ms ease-in;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 1.5rem;
          z-index: 99;

          background-color: a.$dark-600;
          border-bottom-left-radius: 0.33rem;
          border-bottom-right-radius: 0.33rem;

          &.active {
            max-height: 50rem;
            padding: 1rem;
          }

          @media screen and (min-width: a.$bp-md) {
            display: none;
          }

          > li {
            border-radius: 0.33rem;
            cursor: pointer;

            > a:hover {
              text-decoration: underline;
            }

            @media screen and (min-width: a.$bp-md) {
              margin-bottom: 0;
            }
          }
        }
      }

      .desktop-nav-list {
        display: none;
        justify-content: center;
        gap: 2rem;

        @media screen and (min-width: a.$bp-md) {
          display: flex;
        }

        li > a:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }

    .user-menu-wrapper {
      grid-column: 4 / 5;
      grid-row: 1 / 2;

      width: fit-content;
      align-items: center;
      justify-self: flex-end;
      z-index: 50;

      > svg:hover {
        cursor: pointer;
      }

      li {
        width: 100%;
        padding: 0.5rem;
        border-radius: 0.33rem;
        margin-bottom: 0.25rem;

        a {
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }

        > button {
          color: a.$dark-100;
          background-color: transparent;
          border: none;
          font-size: 1rem;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
