@use "../../../styles/abstracts/" as *;

.dashboard-field {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  background-color: $dark-600;

  padding: 1rem;
  margin-bottom: 0.5rem;

  border: 0.5px solid $dark-400;
  border-radius: 0.33rem;

  word-wrap: break-word;

  @media screen and (min-width: $bp-md) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .dashboard-field-label {
    font-size: 1rem;
    font-weight: 600;
    color: $dark-100;
  }

  .dashboard-field-description {
    margin-top: 0.25rem;
    font-size: 0.85rem;
    font-weight: 400;
    color: $dark-400;
  }

  .dashboard-field-value {
    font-size: 1rem;
    font-weight: 400;
    color: $dark-100;

    &.name {
      text-transform: capitalize;
    }
  }
}
