$orange-900: #b36b00;
$orange-800: #d97d00;
$orange-700: #ec8600;
$orange-600: #ff9d00;
$orange-500: #ffb400;
$orange-400: #ffcb00;

$dark-700: #1c1c1c;
$dark-600: #222222;
$dark-500: #3e3e3e;
$dark-400: #6e6e6e;
$dark-300: #b0b0b0;
$dark-200: #d0d0d0;
$dark-100: #f0f0f0;

$red-700: #291415;
$red-600: #541c15;
$red-500: #7f2315;
$red-400: #aa2a15;
$red-300: #d52f15;
