@use "../abstracts" as a;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-size: 1rem;
  font-weight: bold;

  border-radius: a.$radius-sm;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
}

.btn-primary {
  background-color: a.$orange-700;
  border: 1px solid a.$orange-700;
  color: a.$dark-700;

  &:hover {
    background-color: a.$orange-600;
  }

  > span,
  a {
    color: a.$dark-700;
  }
}

.btn-basic {
  background-color: a.$dark-600;
  border: 1px solid a.$dark-600;

  &:hover {
    border: 1px solid a.$dark-100;
  }

  > span,
  a {
    color: a.$dark-100;
  }
}

.btn-outlined {
  background-color: transparent;
  border: 1px solid a.$dark-400;

  &:hover {
    border-color: a.$dark-300;
  }
}

.btn-delete {
  background-color: a.$red-400;
  border: 1px solid a.$red-400;

  &:hover {
    background-color: a.$red-600;
  }
}

.btn-submit {
  width: 100%;
  background-color: a.$orange-700;
  border: 1px solid a.$orange-700;
  color: a.$dark-700;

  &:hover {
    background-color: a.$orange-600;
  }
}

.btn-toggle {
  background-color: a.$dark-600;
  border: 1px solid a.$dark-600;
  outline: none;

  &:hover {
    background-color: a.$dark-400;
    border: 1px solid a.$dark-400;
  }

  &-active {
    outline: none;
    background-color: a.$dark-500;
    border: 1px solid a.$dark-500;
  }
}
