@use "../abstracts/" as a;

.form-wrapper {
  .title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

    h2 {
      font-size: 2rem;
    }
  }

  .form-error-message,
  .form-status-message {
    margin-bottom: 1rem;
    text-align: center;
  }

  .form-error-message {
    color: a.$red-300;
  }

  &.auth-form {
    width: 100%;
    max-width: 500px;
    padding: 1rem;
    background-color: a.$dark-600;
    border: 1px solid a.$dark-600;
    border-radius: a.$radius-lg;

    @media screen and (min-width: a.$bp-md) {
      padding: 2rem;
    }

    .link-container {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      margin-top: 2rem;
      text-align: center;

      > a {
        text-decoration: underline;
      }
    }
  }
}

form {
  .input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1.2rem;
  }

  .input-error {
    color: a.$red-300;
    margin: 0.5rem 0;
  }
}
