@use "../abstracts" as a;

.select-wrapper {
  position: relative;
  display: inline-block;

  width: 100%;
  max-width: 12rem;

  .select-button {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    border-radius: a.$radius-sm;
    padding: 0.5rem 1rem;

    background-color: a.$dark-600;
    border: 1px solid a.$dark-600;
    text-transform: capitalize;

    &:hover {
      border: 1px solid a.$dark-500;
    }

    &--open {
      border: 1px solid a.$dark-500;
    }

    > span {
      color: a.$dark-100;
    }
  }
}

.select-options {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  position: absolute;
  left: 0;
  top: 3rem;
  z-index: 50;

  width: 100%;
  max-width: 12rem;

  background-color: a.$dark-600;
  border: 1px solid a.$dark-500;
  border-radius: a.$radius-md;

  > .select-option {
    padding: 0.5rem;
    text-align: start;
    text-transform: capitalize;

    background-color: inherit;
    border: none;
    outline: none;

    &:hover {
      background-color: a.$dark-500;
    }
  }
}
