#modal-root {
  position: fixed;
  top: 0;
  left: 0;

  width: 100svw;
  height: 100svh;

  display: flex;
  justify-content: center;
  align-items: center;

  &.active {
    z-index: 100;

    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1rem);
  }

  .modal-container {
    display: flex;
    flex-direction: column;

    min-width: 25svw;
    max-width: 40rem;

    min-height: 10svh;
    max-height: 40rem;

    padding: 1rem;

    color: var(--dark-700);
    background-color: var(--dark-100);
    border-radius: var(--radius-xl);

    .modal-title {
      color: inherit;
      font-size: 2rem;
      font-weight: bold;
    }

    .modal-paragraph {
      flex: 1;
      color: inherit;
      font-size: 1rem;
      font-weight: 400;
      margin-top: 0.5rem;
      margin-bottom: 2rem;
    }

    .modal-button-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 1rem;

      @media screen and (min-width: var(--bp-md)) {
        flex-direction: row;
      }
    }
  }
}
